# ------------------------
# test 파일
# ------------------------
test.*

# ------------------------
# 가상환경
# ------------------------
.venv/
venv/
env/

# ------------------------
# 환경 변수
# ------------------------
.env